In [1]:
import pandas as pd

In [2]:
df=pd.read_excel("DSI_dataset.xlsx",sheet_name = "DSI")

In [3]:
df.head(5)

,project id,name,url,category,subcategory,location,status,goal,pledged,funded percentage,backers,funded date,levels,reward levels,updates,comments,duration
0,931747986,CXL - Feature Film - The 24 Hour Kickstarter. ...,http://www.kickstarter.com/projects/sgillane/c...,Film &amp; Video,Narrative Film,"San Francisco, CA",successful,5000.0,5018.0,1.003610,70,"Thu, 07 Jul 2011 17:30:17 -0000",10,"$1,$5,$15,$25,$50,$100,$500,$1,000,$2,500,$5,000",8,2,1.00
1,1227406138,Foldable Shoes for Purse- that won't get it di...,http://www.kickstarter.com/projects/flipslip/f...,Fashion,Fashion,"San Francisco, CA",failed,200.0,0.0,0.000000,0,"Tue, 29 Nov 2011 10:35:18 -0000",2,"$1,$25",0,0,1.00
2,138119,STRUM,http://www.kickstarter.com/projects/185476022/...,Film & Video,Animation,"Los Angeles, CA",live,20000.0,56.0,0.002800,3,"Fri, 08 Jun 2012 00:00:31 -0000",10,"$1,$10,$25,$40,$50,$100,$250,$1,000,$1,337,$9,001",1,0,28.00
3,1175306310,Bj���_rk Swan Dress T-Shirt,http://www.kickstarter.com/projects/thereport/...,Art,Conceptual Art,"Brooklyn, NY",successful,180.0,472.0,2.622222,45,"Fri, 17 Feb 2012 17:00:00 -0000",6,"$1,$20,$20,$20,$20,$25",7,1,1.00
4,1435347461,An Intimate Correspondent at the NCMR 2011 Boston,http://www.kickstarter.com/projects/oagonzalez...,Publishing,Journalism,"Boston, MA",failed,764.0,15.0,0.019634,2,"Fri, 08 Apr 2011 02:00:00 -0000",9,"$1,$5,$10,$25,$50,$75,$125,$250,$500",0,0,1.49

In [6]:
df[["project id","status", "funded date"]].head(10)

   project id      status                      funded date
0   931747986  successful  Thu, 07 Jul 2011 17:30:17 -0000
1  1227406138      failed  Tue, 29 Nov 2011 10:35:18 -0000
2      138119        live  Fri, 08 Jun 2012 00:00:31 -0000
3  1175306310  successful  Fri, 17 Feb 2012 17:00:00 -0000
4  1435347461      failed  Fri, 08 Apr 2011 02:00:00 -0000
5  1728704935  successful  Tue, 01 Dec 2009 23:05:00 -0000
6   715702673      failed  Wed, 14 Mar 2012 23:14:00 -0000
7  1978168386  successful  Fri, 21 Jan 2011 04:10:43 -0000
8   657126798  successful  Sat, 24 Apr 2010 02:30:00 -0000
9   778178509  successful  Sat, 03 Oct 2009 17:00:00 -0000

In [8]:
print(type(df['funded date']))

<class 'pandas.core.series.Series'>